.Navbar{
    .NavbarBrand{
        .Logo-GitNavbar{
            margin-right:10px;
        }
    }
    .Collapse{
        .Nav{
            .inputSearch{
                display:flex;
                flex-direction: row;
                // flex-wrap:wrap;
            }
        }
    }
}