.Navbar{
    background-color:rgb(1, 228, 228);
    .NavbarBrand{
        .Logo-GitNavbar{
            margin-right:10px;
        }
    }
    .Collapse{
        .Nav{
            .inputSearch{
                display:flex;
                flex-direction: row;
                .FaSearchIconGroup{
                    cursor:pointer;
                }
            }
        }
    }
}