.Repos-Detailed{
    margin-top:0;
    .Row{
        display: flex;
        flex-wrap: wrap;
        margin-top:0;
        .Card{
            .CardBody{
                .CardTitle{
                    display: flex;
                    justify-content: space-between;
                    p{
                        span{
                            display:inline;
                            color: darkblue
                        }
                    }
                    span{
                        display: flex;
                        justify-content: space-between;
                        .Heart-Icon {
                            color:gold;
                            &:hover {
                                cursor:pointer;
                              color: pink;
                            }
                            &:active{
                                cursor:pointer;
                                color: red;
                
                            }
                          }
                          small{
                              color:red;
                          }
                      }
                }
            }
        }
    }
}