.Repositories {
  h1 {
    padding-top: 0;
    margin-top: 0;
    color: aqua;
    span {
      color: rgb(39, 9, 209);
    }
  }
  .Row {
    display: flex;
    // flex-wrap: wrap;
    flex-flow: row wrap;
    #RmcPullToRefresh{
padding:0;
margin:0;
    }
    .Card {
      margin-top: 10px;

      .CardBody {
        .CardTitle {
          display: flex;
          justify-content: space-between;
          p {
            span {
              display: inline;
              margin-left: 5px;
              color: darkblue;
              cursor: pointer;
              &:hover {
                cursor: pointer;
                color: green;
              }
            }
          }

          span {
            display: flex;
            justify-content: space-between;
            .Heart-Icon {
              &:hover {
                cursor: pointer;
                color: pink;
              }
              &:active {
                cursor: pointer;
                color: red;
              }
            }
            small {
              color: red;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 770px) {
  .Repositories {
    .Row {
      #RmcPullToRefresh {
        display: none;
      }
    }
  }
}
